.form-container {
  margin: auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 60%;
  padding: 2.5rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #f3ffff;
}

textarea {
  resize: none;
}
form h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-inputs {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-inputs label {
  margin-bottom: 0.3rem;
}

.form-inputs input,
.form-inputs textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-sec {
  display: flex;
  justify-content: center;
}

form button {
  margin: 0 3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn {
  background-color: #4caf50;
}

.cancel-btn {
  background-color: #f44;
}

.save-btn:hover {
  background-color: #3a9c3d;
}

.cancel-btn:hover {
  background-color: rgb(233, 54, 54);
}
