{% extends "base.html" %} {% block title %}Add Chapter | Quiz Master{% endblock
%} {% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}" />
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='addChapter.css') }}"
/>
{% endblock %} {% block navbar %}
<header>
  <div class="header-container">
    <h1>Quiz Master</h1>
    <nav>
      <ul>
        <li>
          <a href="/admin-dashboard">Home</a>
        </li>
        <li>
          <a href="/admin-quiz">Quiz</a>
        </li>
        <li>
          <a href="/manage-users">Manage</a>
        </li>
        <li>
          <a href="/admin-summary">Summary</a>
        </li>
        <li>
          <a href="/logout">Log out</a>
        </li>
      </ul>
    </nav>
    <a href="/profile">Welcome, {{ user.fullname}}</a>
  </div>
</header>
{% endblock %} {% block content %}
<div class="form-container">
  <form method="post" name="add-chap-form">
    <h2>Add Chapter</h2>
    <div class="form-inputs">
      <label for="subject-id">Subject Id:</label>
      <input
        type="text"
        name="subject-id"
        id="subject-id"
        placeholder="Subject id"
        value="{{ subjectid }}"
        readonly
      />
      <label for="chap-name">Chapter Name:</label>
      <input
        type="text"
        name="chap-name"
        id="chap-name"
        placeholder="Chapter name"
        required
      />
      <label for="chap-description">Chapter Description:</label>
      <textarea
        name="chap-description"
        id="chap-description"
        placeholder="Description"
        cols="30"
        rows="3"
        required
      ></textarea>
    </div>
    <div class="btn-sec">
      <button class="save-btn" type="submit">Add Chapter</button>
      <button
        class="cancel-btn"
        onclick="window.location.href = '/admin-dashboard'"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
{% endblock %} {% block script %} {% endblock %}
