{% extends "base.html" %} {% block title %}Banned | Quiz Master{% endblock %} {%
block stylesheet %}
<style>
  main {
    margin: 4rem 0;
    padding: 0.5rem;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3ffff;
    border-radius: 0.5rem;
  }

  h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
  }

  p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  button {
    margin: 1rem;
    padding: 7px 15px 5px;
    font-size: 1rem;
    background-color: #68b4e2;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
  }

  button:hover {
    background-color: #5095d1;
  }
</style>
{% endblock%}{% block content %}
<main>
  <h1>You are banned</h1>
  <p>Please wait for the admin to unban you! Please log out!</p>
  <button onclick="window.location.href='/logout'">Log out</button>
</main>
{% endblock %}
